html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: system-ui, Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 2rem;
}

a {
    display: inline-block;
    margin: .5rem 0;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 8px;
}
